.wrapper{

}
.div_1{
    width: 50%;
    height: 200px;
    background-color:darkgreen;
    float: left;
    
}
.div_2{
    width: 50%;
    height: 200px;
    background-color: red;
    float: right;
    
}
